<footer>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">
      Copyright &copy; <script>document.write(new Date().getFullYear())</script>.
      <a target="_blank" href="https://iiong.com">淮城一只猫</a>
      <a target="_blank" href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral">本站使用 <img src="images/upyun-logo.png" alt="upyun-logo" class="upyun-logo" /> 静态服务加速支持</a>
    </small>
  </div>
</footer>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?5e14d5c31189c503decc5696168cf579";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
