<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand" href="index.html">Audi Joiner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item @@home">
          <a class="nav-link" href="index.html">首页</a>
        </li>
        <li class="nav-item @@faq">
          <a class="nav-link" href="FAQ.html">帮助</a>
        </li>
        <li class="nav-item @@donation">
          <a class="nav-link" href="donation.html">打赏</a>
        </li>
        <li class="nav-item @@about">
          <a class="nav-link" href="about.html">关于</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
